@use '../../../style/vars.scss';

.variants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.picture {
  border-radius: 10px;
  width: 90vmin;
  height: 90vmin;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.picture.answer-btn {
  width: 40vmin;
  height: 40vmin;
}

.answer-btn {
  transition: $page-transiton;
}

.answer-btn.picked{
  background-color: red; 
}

.answer-btn.picked.true {
  background-color: greenyellow;
}

.variants.expose {

  .answer-btn.true {
    background-color: greenyellow;
  }

}
