<div class="variants">
  <div class="picture answer-btn">
    <img class="false-answer" src="./assets/check-false.svg" alt="false">
    <img class="true-answer" src="./assets/check-circle.svg" alt="true">
  </div>
  <div class="picture answer-btn">
    <img class="false-answer" src="./assets/check-false.svg" alt="false">
    <img class="true-answer" src="./assets/check-circle.svg" alt="true">
  </div>
  <div class="picture answer-btn">
    <img class="false-answer" src="./assets/check-false.svg" alt="false">
    <img class="true-answer" src="./assets/check-circle.svg" alt="true">
  </div>
  <div class="picture answer-btn">
    <img class="false-answer" src="./assets/check-false.svg" alt="false">
    <img class="true-answer" src="./assets/check-circle.svg" alt="true">
  </div>
</div>