<div class="settings">
  <div class="sound-settings">
    <div class="sound-btn"></div>
    <input class="volume-range" type="range" value="40" min="0" max="100" step="1" id="volume-range">
  </div>
  <div class="time-settings">
    <div class="time-game">
      <label for="time-check">Time game</label>
      <input class="time-check" type="checkbox" id="time">
    </div>
    <div class="time-choise">
      <label for="time-value">Time to answer</label>
      <div class="time-adjuster">
        <button class="time-input minus"></button>
        <input class="time-value" id="time-value" type="number" step="5" min="5" max="30" placeholder="20"></input>
        <button class="time-input plus"></button>
      </div>
    </div>
  </div>
  <a class="settings-back-btn" href="#home">Back</a>
  <!-- <div class="language-settings">
    <input type="radio" name="" id="">
  </div> -->
</div>