@use '../../../style/vars.scss';

$logo-container-mini: 7vh;
$logo-container-large: 20vh;
$logo-mini: 3vh;
$logo-large: 8vh;

header {
  display: flex;
  align-items: flex-end;
  height: 10vh;

  transition: $page-transiton;
}

// .text-home {
//   writing-mode: vertical-lr;
//   text-orientation: upright;
//   letter-spacing: 0;
// }

header .logo-container {
  left: 3vh;
  height: $logo-container-mini;
  width: $logo-container-mini;

  .logo-up, .logo-bottom {
    font-size: $logo-mini;
    opacity: 0.8;
  }

  .logo-home {
    display: block;
    position: absolute;
    top: -2.8vh;
    left: -1.5vh;
    height: 10vh;
    width: 10vh;

    opacity: 0.5;
    z-index: -1;
  }
}

header.at-home {
  justify-content: center;
  height: 25vh;
}

header.at-home .logo-container {
  left: 0;
  height: $logo-container-large;
  width: $logo-container-large;

  .logo-up, .logo-bottom {
    font-size: $logo-large;
    opacity: 0.9;
  }

  .logo-home {
    display: none;
  }
}

.logo-container {
  position: relative;

  text-align: center;
  font-weight: 700;

  transition: 0.3s;
}

.logo-up {
  color: $dark-color;
  background-color: $light-color;
  border-top-left-radius: 10px ;
}

.logo-container a {
  text-decoration: none;
  color: $light-color
}
