@use '../../../style/vars.scss';

$logo-container-mini: 5vmax;
$logo-container-large: 20vmax;
$logo-mini: 5vmax;
$logo-large: 8vmax;

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $logo-container-mini;

  transition: $page-transiton;
}

header.at-home {
  justify-content: center;
  height: 25vh;
}

.logo-container {
  text-align: center;
  font-weight: 700;
  transition: 0.3s;
}

header .logo-container {
  height: $logo-container-mini;
  width: $logo-container-mini;
  .logo-up, .logo-bottom {
    font-size: 2vh;
  }
}

header.at-home .logo-container {
  height: $logo-container-large;
  width: $logo-container-large;

  .logo-up, .logo-bottom {
    font-size: $logo-large;
  }
}

.logo-up {
  color: $dark-color;
  background-color: $light-color;
  border-top-left-radius: 10px ;
}

.logo-container a {
  text-decoration: none;
  color: $light-color
}
