@use '../../style/vars.scss';

.app-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.rs-logo img {
  width: 5vh;
  height: 5vh;
}


.app-details a {
  display: block;
  color: $major-dark-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}




