.start-page {
  display: none;
  position: relative;
  transition: left 0.3s ease-in-out;
}

.start-page.active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}

.start-menu {
  display: none;
  position: relative;
  left: 0;

  height: 100%;

  transition: left 0.3s ease-in-out;
}

.start-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.start-menu.active.hidden,
.start-page.active.hidden {
  left: -100%;
}


.start-page-btn {
  width: 70vmin;
  height: 15vmax;

  font-size: 2rem;

  background: whitesmoke;
  border: 3px solid #333;
  border-radius: 10px;

  &:active {
    background-color: #333;
    color: whitesmoke;
  }
}

.logo-container {
  height: 20vh;
  width: 20vh;
}

.logo-up, .logo-bottom {
  text-align: center;
  font-size: 8vh;
}

.logo-up {
  color: whitesmoke;
  background-color: #333;
}

.logo-bottom {
  color: #333;
  background-color: whitesmoke;
}