@use './vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: $major-dark-color;

  height: 100%;

  background-color: $major-light-color;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

header.home {
  height: 25vh;
}

main {
  height: 90vh;
}

main.home {
  height: 70vh;
}

footer {
  height: 5vh;
  width: 100%;
}

