@use './vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: $light-color;

  height: 100%;

  background-color: $dark-color;
}

main {
  height: auto;
  transition: $page-transiton;
}

main.at-home {
  height: 70vh;
}

