@use '../../style/vars.scss';

.logo-container {
  height: 5vh;
  width: 5vh;
  text-align: center;
  font-weight: 700;
}

.logo-container.home {
  height: 20vh;
  width: 20vh;

  .logo-up, .logo-bottom {
    font-size: 8vh;
  }
}

.logo-up, .logo-bottom {
  font-size: 2vh;
}

.logo-up {
  color: $major-light-color;
  background-color: $major-dark-color;
  border-top-left-radius: 10px ;
}
