@use '../../../style/vars.scss';

.settings-container {
  position: relative;
  left: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  transition: $page-transiton;
}

.settings-container.active {
  left: 0;
}

.language-settings,
.sound-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sound-btn {
  width: 10vh;
  height: 10vh;
  background-size: 10vh 10vh;
  background-image: url("./assets/speaker.svg");
  opacity: .8;
  cursor: pointer;
  transition: $hover-transition;
}

.sound-btn.muted{
  background-image: url("./assets/mute.svg");
}

.volume-range { 
  -webkit-appearance: none;
  outline: none;

  max-width: 15vh; 
  height: 1.2vh;

  background: linear-gradient(to right, $major-dark-color 0%, $major-dark-color 40%, #fff 0%, #fff 100%);
  border-radius: 5px;
}

.volume-range::-webkit-slider-thumb {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: $major-light-color;
  border: 1px solid $major-dark-color;
}

.time-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  label {
    margin-bottom: 1vh;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.time-game,
.time-choise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-check {
  width: 4vh;
  height: 4vh;
}

.time-adjuster {
  position: relative;

  input[type=number] {
    width: 4vh;
    height: 4vh;

    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: $major-dark-color;

    border: none;
    background-color: transparent;
  }


  input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type=number]:disabled {
    background-color: transparent;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

}

.time-settings button {
  position: absolute;
  outline:none;
  -webkit-appearance: none;

  align-items: center;
  justify-content: center;

  width: 3vh;
  height: 3vh;
  margin: 0;

  color: $major-dark-color;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.time-settings button:before,
.time-settings button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 2.5vh;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.time-settings button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.time-input.minus {
  left: -25px;
  top: 5px;
}

.time-input.plus {
  top: 5px;
  left:30px;
}

.sound-settings,
.time-settings,
.language-settings,
.settings-back-btn {
  width: 70vmin;
  height: 15vmax;

  background: $major-light-color;
  border: 3px solid $major-dark-color;
  border-radius: 10px;
}

.settings-back-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: $major-dark-color;
  font-size: 2rem;
  &:active {
      background-color: $major-dark-color;
      color: $major-light-color;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}