<div class="settings-container at-home">
  <div class="settings-block sound-settings">
    <div class="sound-btn"></div>
    <input class="volume-range" type="range" value="40" min="0" max="100" step="1" id="volume-range">
  </div>
  <div class="settings-block time-settings">
    <div class="time-game">
      <label for="time-check">Time game</label>
      <input class="time-check" type="checkbox" id="time">
    </div>
    <div class="settings-block time-choise">
      <label for="time-value">Time to answer</label>
      <div class="time-adjuster">
        <button class="time-input minus"></button>
        <input class="time-value" id="time-value" type="number" step="5" min="5" max="30" placeholder="20"></input>
        <button class="time-input plus"></button>
      </div>
    </div>
  </div>
  <div class="settings-block language-settings">
    <label for="lang">Language</label>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <div class="lang">
      <div class="en">🇬🇧</div>
      <div class="ru">🇷🇺</div>
    </div>
  </div>
<!-- Do not change posision of class "home"! it must be first!! -->
  <a class="home settings-back-btn nav-btn" href="#home">Back</a>
</div>