@use '../../../style/vars.scss';

.categories {
  position: relative;
  left: 100%;

  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "categories-back-btn categories-back-btn"
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
  height: 100%;

  transition: $page-transiton;
}

.categories.active {
  left: 0;
}

.start-btn {
  display: block;

  height: 40vw;
  width: 40vw;

  margin: auto;

  background-size: contain;
  background-blend-mode: saturation;

}

.categories-home-btn {

  display: block;

  grid-area: categories-back-btn; 
  align-self: center;
  justify-self: center;

  width: 70vmin;
  height: 10vmax;

  text-decoration: none;
  text-align: center;
  color: $major-dark-color;
  font-size: 2rem;

  background: $major-light-color;
  border: 3px solid $major-dark-color;
  border-radius: 10px;

  &:active {
    background-color: $major-dark-color;
    color: $major-light-color;
  }
}
