<div class="categories">
  <div class="tile">
    <h6 class="tile-title">Portrait</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Landscape</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Still life</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Impressionism</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Expressionism</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Avant-garde</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Renaissance</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Surrealism</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Kitsch</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Minimalism</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Interior</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <div class="tile">
    <h6 class="tile-title">Nude</h6>
    <span class="category-score"></span><a href="#questions"></a>
    <div class="play-again">Play again</div>
  </div>
  <a class="categories-back-btn" href="#home">Home</a>
</div>
