@use '../../style/vars.scss';

.questions {
  position: relative;
  left: 100%;

  display: flex;
  flex-direction: column;
  height: 100%;

  transition: $page-transiton;
}

.questions.active {
  left: 0;
}

.picture-container {
  width: 90vmin;
  height: 90vmin;

  background-size: contain;
}
